.veri {
  background-color: rgb(245, 242, 237);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 45px;
  padding: 100px;
  display: flex;
  gap: 50px;
}

.veriButton{
  background-color: rgb(148, 45, 45);
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 25px;
  color: white;
  border: none;
}

.chart-container {
  background-color: rgb(228, 225, 225);
  position: relative;
  overflow-x: hidden;
  margin-top: 50px;
  height: 300px;
  padding: 20px;
  width: 400px;
  border: none;
}

#exchangeRate {
  margin-bottom: 20px;
  font-size: 18px;
}

#chart {
  position: absolute;
  bottom: 0;
}

.bar {
  position: absolute;
  margin-right: 5px;
  width: 20px;
  bottom: 0;
}
